{% extends 'admin/master.html' %}

{% block body %}
<h1 class="text-center text-info">Thống kê báo cáo</h1>
<div class="row">
    <div class="col-md-5 col-xs-12">

        <table class="table">
            <h3 style="background-color: #EA4335; text-align: center; padding: 10px 0; letter-spacing: 5px">DOANH THU &#128181</h3>
            <tr>
                <th>Mã phòng</th>
                <th>Tên phòng</th>
                <th>Doanh thu</th>
            </tr>
            {% for s in stats%}
            <tr>
                <td>{{s[0]}}</td>
                <td>{{s[1]}}</td>
                <td>{{"{:,.0f}".format(s[2]).replace(",", ".")}} VNĐ</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-7 col-xs-12">
      <canvas id="myChart"></canvas>
        <h6 style="font-style: italic;;" class="text-center">Biểu đồ doanh thu của từng phòng</h6>
    </div>



</div>
<div class="mt-5"></div>
<div class="row">
    <div class="col-md-5 col-xs-12">

        <table class="table">
            <h3 style="background-color: #4285F4; text-align: center; padding: 10px 0;letter-spacing: 5px">BOOKING &#128273</h3>
            <tr>
                <th>Mã phòng</th>
                <th>Tên phòng</th>
                <th>Lượt book</th>
            </tr>
            {% for s in rooms_booking%}
            <tr>
                <td>{{s[0]}}</td>
                <td>{{s[1]}}</td>
                <td>{{s[2]}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-7 col-xs-12">
      <canvas id="myChartt"></canvas>
        <h6 style="font-style: italic;;" class="text-center ">Biểu đồ lượt book trên từng phòng</h6>
    </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
window.onload = function() {
  const ctx = document.getElementById('myChart');

  let data = [];
  let labels = [];

  {% for s in stats %}
  data.push({{ s[2] }})
  labels.push('{{ s[1] }}')
  {% endfor %}

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: labels,
      datasets: [{
        label: 'Doanh thu',
        data: data,
        borderWidth: 1,
        backgroundColor: ['red', 'green', 'blue', 'gold', 'brown']
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

  const ctxx = document.getElementById('myChartt');

  let dt = [];
  let lb = [];

  {% for s in rooms_booking %}
  dt.push({{ s[2] }})
  lb.push('{{ s[1] }}')
  {% endfor %}

  new Chart(ctxx, {
    type: 'pie',
    data: {
      labels: lb,
      datasets: [{
        label: 'Lượt book',
        data: dt,
        borderWidth: 1,
        backgroundColor: ['red', 'green', 'blue', 'gold', 'brown']
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
}
</script>

{% endblock %}

